* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
}
.carousel-container {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 1200px;
}

.carousel-slide img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 11px;
  transition: transform 0.5s ease-in-out;
}

.hidden {
  display: none;
}
.button-wrapper {
  justify-content: space-around;
  display: flex;
  padding-top: 24px;
}
.btn {
  cursor: pointer;
  height: 24px;
}
.dots-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 2.2px solid black;
  cursor: pointer;
}
.dot-active {
  background-color: black;
  border: none;
}
.active-img {
  animation: appear 0.3s ease-in;
}
/**/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
